# Lambda calculus

The most obvious place where we encounter lambda expressions in Python is with their 'anonymous functions', so called because you do not have to name these functions. For example, the following is an anonymous function that doubles its input:

In [ ]:
lambda x: x*2

In [1]:
list_1 = [1,2,3,4,5,6,7,8,9]

In [2]:
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
filter(lambda x: x%2==0,list_1)

In [5]:
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
list_2 = list(filter(lambda x: x%2==0,list_1))

In [8]:
print(list_2)

[2, 4, 6, 8]

The defining of the above function corresponds with the 'lambda abstraction rule' of lambda calculus. We have given this function no input, so we get no output either. Furthermore, since the function is anonymous, we cannot reference its name and invoke it later. Instead, we should immediately supply the lambda expression with some input:

In [ ]:
(lambda x: x*2)(6)

Python will then produce the output of this function applied to the input (corresponding to the 'application rule'). We do not need to limit ourselves to one parameter either, as this exponential growth formula shows:

In [ ]:
(lambda x, g, t: x*g**t)(2,3,3)

we actually *can* assign a variable name to a lambda expression if we want, in which case it is just an alternative syntax for defining a function. The following two are identical functions:

In [ ]:
def double_a(x):
    return x*2

double_b = lambda x: x*2

double_b(4)

In general, the 'normal' way is preferred. A great way to use lambda expressions is to have a regular function (that wants some argument *n*) **return** a lambda expression that involves *n*. Think of the regular function as a template for producing a family of lambda expressions depending on *n*

### Exercise 1
Define a function with at least 1 parameter that returns a lambda expression with also at least 1 parameter and uses the argument of the function. Show, with a few examples, what the function does for different inputs for the function (and the lambda expression).

In [36]:
def fn(x):
    return (lambda x : x+x)(x)

In [37]:
fn(6)

12

In [38]:
fn(8)

16

In [39]:
fn(10001)

20002

Another frequent use is for manipulating iterable data objects (like lists, dataframes, dictionaries, etc), such as with the .sort() method, or the map() and filter() functions. The map function applies an operation to every element of the data  object. For both map() and filter(), you need to wrap them with list() to actually return the mapped or filtered list; so it takes the form of *list(filter(lambda x: ..., list1))*.

### Exercise 2
Use lambda expressions and the above-mentioned functions to manipulate the data (a list of dictionaries) below as follows:
* sort the data by country
* return a filtered list that has only those entries whose 'name' starts with an A or a B
* return a filtered list that has only those entries whose 'number' is not divisible by 2 or 3
* return a list with the same values as the original, except that each 'number' entry has been doubled

In [2]:
data = [{'country': "Ukraine",'number': "3",'name': "Derek Bolton"},{'country': "United States",'number': "3",'name': "Britanney Durham"},{'country': "China",'number': "7",'name': "Rachel Dickson"},{'country': "India",'number': "4",'name': "Oren Dominguez"},{'country': "Norway",'number': "5",'name': "Keane Dean"},{'country': "New Zealand",'number': "8",'name': "Tarik Coleman"},{'country': "South Africa",'number': "3",'name': "Uriel Greene"},{'country': "China",'number': "6",'name': "Minerva Shields"},{'country': "Norway",'number': "7",'name': "Robin Butler"},{'country': "Germany",'number': "7",'name': "Stacey Nixon"},{'country': "South Africa",'number': "4",'name': "Glenna Clark"},{'country': "Australia",'number': "7",'name': "Adena Smith"},{'country': "Italy",'number': "2",'name': "Ronan Ellis"},{'country': "Chile",'number': "1",'name': "Ignatius Guy"},{'country': "Belgium",'number': "8",'name': "Barclay Lindsey"},{'country': "Peru",'number': "2",'name': "Fuller Burris"},{'country': "Ukraine",'number': "2",'name': "Kylan Witt"},{'country': "United States",'number': "1",'name': "Kitra Willis"},{'country': "Austria",'number': "6",'name': "Indigo Dillard"},{'country': "Chile",'number': "3",'name': "Benedict Powell"},{'country': "Russian Federation",'number': "9",'name': "Duncan Ware"},{'country': "Peru",'number': "7",'name': "Abra Lewis"},{'country': "China",'number': "5",'name': "Callie Cole"},{'country': "United States",'number': "0",'name': "Cedric Gates"},{'country': "Ukraine",'number': "7",'name': "Malcolm Cox"},{'country': "Brazil",'number': "6",'name': "Connor Potts"},{'country': "Sweden",'number': "7",'name': "Lyle Nguyen"},{'country': "United States",'number': "3",'name': "Rudyard Barrett"},{'country': "Costa Rica",'number': "2",'name': "Judah Brock"},{'country': "South Korea",'number': "2",'name': "Lucius Snider"},{'country': "China",'number': "1",'name': "Cassady Mcdaniel"},{'country': "Singapore",'number': "2",'name': "Allegra Baird"},{'country': "Philippines",'number': "4",'name': "Omar Burgess"},{'country': "Turkey",'number': "7",'name': "Kenyon Rosa"},{'country': "Poland",'number': "6",'name': "Yen Sargent"},{'country': "China",'number': "3",'name': "Rashad Grimes"},{'country': "Spain",'number': "7",'name': "Tamekah Gutierrez"},{'country': "Ukraine",'number': "3",'name': "Liberty Mathis"},{'country': "Mexico",'number': "3",'name': "Rylee Sharpe"},{'country': "Mexico",'number': "3",'name': "Brynn Hinton"},{'country': "Sweden",'number': "2",'name': "Quinn Berg"},{'country': "Philippines",'number': "9",'name': "Simone Tanner"},{'country': "Ireland",'number': "2",'name': "Simon Giles"},{'country': "United Kingdom",'number': "10",'name': "Zenia Coffey"},{'country': "Mexico",'number': "2",'name': "Yael Glass"},{'country': "Colombia",'number': "5",'name': "Inga Russell"},{'country': "United Kingdom",'number': "1",'name': "Brendan Pearson"},{'country': "Austria",'number': "3",'name': "Shafira Parks"},{'country': "India",'number': "9",'name': "Dante Charles"},{'country': "Sweden",'number': "8",'name': "Kylee Good"},{'country': "Canada",'number': "1",'name': "September Bryan"},{'country': "Costa Rica",'number': "5",'name': "Hakeem Flowers"},{'country': "Peru",'number': "0",'name': "Ross Moss"},{'country': "Spain",'number': "8",'name': "Bo Hardy"},{'country': "Austria",'number': "2",'name': "Davis Cardenas"},{'country': "Ireland",'number': "2",'name': "Lane Chandler"},{'country': "Ukraine",'number': "3",'name': "Mohammad Holder"},{'country': "Vietnam",'number': "8",'name': "Jonas Bryan"},{'country': "Costa Rica",'number': "0",'name': "Eve Rivas"},{'country': "Australia",'number': "4",'name': "Elton Collins"},{'country': "Norway",'number': "8",'name': "Cain Fields"},{'country': "Vietnam",'number': "0",'name': "Iliana Daniels"},{'country': "Mexico",'number': "7",'name': "Rajah Robles"},{'country': "Australia",'number': "3",'name': "Charity Conner"},{'country': "Chile",'number': "5",'name': "Kay Parsons"},{'country': "Ireland",'number': "4",'name': "Rachel Howell"},{'country': "Singapore",'number': "3",'name': "Walter Forbes"},{'country': "Colombia",'number': "1",'name': "Gray Hayden"},{'country': "Netherlands",'number': "9",'name': "Ivana Compton"},{'country': "South Korea",'number': "8",'name': "Jamal Kelly"},{'country': "Pakistan",'number': "0",'name': "Robert Cunningham"},{'country': "Spain",'number': "4",'name': "Ignatius Newman"},{'country': "Canada",'number': "8",'name': "Gisela Glenn"},{'country': "Vietnam",'number': "1",'name': "Eliana Nicholson"},{'country': "Ukraine",'number': "4",'name': "Christen James"},{'country': "France",'number': "4",'name': "Devin Spears"},{'country': "Costa Rica",'number': "3",'name': "Phelan Hodges"},{'country': "Chile",'number': "4",'name': "Stewart Coffey"},{'country': "Singapore",'number': "6",'name': "Kasper Justice"},{'country': "Italy",'number': "7",'name': "Xanthus Wilkerson"},{'country': "Italy",'number': "6",'name': "Debra Melendez"},{'country': "Germany",'number': "6",'name': "Galvin Morrison"},{'country': "Norway",'number': "10",'name': "Britanney Daniels"},{'country': "Italy",'number': "8",'name': "Steel Cantu"},{'country': "Mexico",'number': "7",'name': "Graham Ewing"},{'country': "China",'number': "3",'name': "Maia Dunn"},{'country': "Australia",'number': "3",'name': "Violet Thornton"},{'country': "Canada",'number': "5",'name': "Cleo Cardenas"},{'country': "United States",'number': "8",'name': "Castor Bowen"},{'country': "Australia",'number': "8",'name': "Wyatt Carey"},{'country': "Philippines",'number': "5",'name': "Paul Padilla"},{'country': "Costa Rica",'number': "8",'name': "Germane Welch"},{'country': "South Korea",'number': "4",'name': "Zephr Deleon"},{'country': "Russian Federation",'number': "9",'name': "Lionel Armstrong"},{'country': "Brazil",'number': "6",'name': "Eleanor Solomon"},{'country': "Nigeria",'number': "7",'name': "Rachel Woods"},{'country': "Indonesia",'number': "9",'name': "Philip Taylor"},{'country': "Brazil",'number': "7",'name': "Lilah Shelton"},{'country': "United Kingdom",'number': "3",'name': "Gillian Harrington"},{'country': "Mexico",'number': "3",'name': "Odessa Sutton"}]

In [3]:
x = data[0]['name'][0]

In [4]:
list_filtered = list(filter(lambda x: x['name'][0] == 'A' or x['name'][0] == 'B' , data))

In [5]:
list_filtered

[{'country': 'United States', 'number': '3', 'name': 'Britanney Durham'},
 {'country': 'Australia', 'number': '7', 'name': 'Adena Smith'},
 {'country': 'Belgium', 'number': '8', 'name': 'Barclay Lindsey'},
 {'country': 'Chile', 'number': '3', 'name': 'Benedict Powell'},
 {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'},
 {'country': 'Singapore', 'number': '2', 'name': 'Allegra Baird'},
 {'country': 'Mexico', 'number': '3', 'name': 'Brynn Hinton'},
 {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'},
 {'country': 'Spain', 'number': '8', 'name': 'Bo Hardy'},
 {'country': 'Norway', 'number': '10', 'name': 'Britanney Daniels'}]

In [6]:
list(filter(lambda x: int(x['number'])%3 != 0 and int(x['number'])%2 != 0  , data))

[{'country': 'China', 'number': '7', 'name': 'Rachel Dickson'},
 {'country': 'Norway', 'number': '5', 'name': 'Keane Dean'},
 {'country': 'Norway', 'number': '7', 'name': 'Robin Butler'},
 {'country': 'Germany', 'number': '7', 'name': 'Stacey Nixon'},
 {'country': 'Australia', 'number': '7', 'name': 'Adena Smith'},
 {'country': 'Chile', 'number': '1', 'name': 'Ignatius Guy'},
 {'country': 'United States', 'number': '1', 'name': 'Kitra Willis'},
 {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'},
 {'country': 'China', 'number': '5', 'name': 'Callie Cole'},
 {'country': 'Ukraine', 'number': '7', 'name': 'Malcolm Cox'},
 {'country': 'Sweden', 'number': '7', 'name': 'Lyle Nguyen'},
 {'country': 'China', 'number': '1', 'name': 'Cassady Mcdaniel'},
 {'country': 'Turkey', 'number': '7', 'name': 'Kenyon Rosa'},
 {'country': 'Spain', 'number': '7', 'name': 'Tamekah Gutierrez'},
 {'country': 'Colombia', 'number': '5', 'name': 'Inga Russell'},
 {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'},
 {'country': 'Canada', 'number': '1', 'name': 'September Bryan'},
 {'country': 'Costa Rica', 'number': '5', 'name': 'Hakeem Flowers'},
 {'country': 'Mexico', 'number': '7', 'name': 'Rajah Robles'},
 {'country': 'Chile', 'number': '5', 'name': 'Kay Parsons'},
 {'country': 'Colombia', 'number': '1', 'name': 'Gray Hayden'},
 {'country': 'Vietnam', 'number': '1', 'name': 'Eliana Nicholson'},
 {'country': 'Italy', 'number': '7', 'name': 'Xanthus Wilkerson'},
 {'country': 'Mexico', 'number': '7', 'name': 'Graham Ewing'},
 {'country': 'Canada', 'number': '5', 'name': 'Cleo Cardenas'},
 {'country': 'Philippines', 'number': '5', 'name': 'Paul Padilla'},
 {'country': 'Nigeria', 'number': '7', 'name': 'Rachel Woods'},
 {'country': 'Brazil', 'number': '7', 'name': 'Lilah Shelton'}]

In [7]:
print(x)

D

In [8]:
print(data)

[{'country': 'Ukraine', 'number': '3', 'name': 'Derek Bolton'}, {'country': 'United States', 'number': '3', 'name': 'Britanney Durham'}, {'country': 'China', 'number': '7', 'name': 'Rachel Dickson'}, {'country': 'India', 'number': '4', 'name': 'Oren Dominguez'}, {'country': 'Norway', 'number': '5', 'name': 'Keane Dean'}, {'country': 'New Zealand', 'number': '8', 'name': 'Tarik Coleman'}, {'country': 'South Africa', 'number': '3', 'name': 'Uriel Greene'}, {'country': 'China', 'number': '6', 'name': 'Minerva Shields'}, {'country': 'Norway', 'number': '7', 'name': 'Robin Butler'}, {'country': 'Germany', 'number': '7', 'name': 'Stacey Nixon'}, {'country': 'South Africa', 'number': '4', 'name': 'Glenna Clark'}, {'country': 'Australia', 'number': '7', 'name': 'Adena Smith'}, {'country': 'Italy', 'number': '2', 'name': 'Ronan Ellis'}, {'country': 'Chile', 'number': '1', 'name': 'Ignatius Guy'}, {'country': 'Belgium', 'number': '8', 'name': 'Barclay Lindsey'}, {'country': 'Peru', 'number': '2', 'name': 'Fuller Burris'}, {'country': 'Ukraine', 'number': '2', 'name': 'Kylan Witt'}, {'country': 'United States', 'number': '1', 'name': 'Kitra Willis'}, {'country': 'Austria', 'number': '6', 'name': 'Indigo Dillard'}, {'country': 'Chile', 'number': '3', 'name': 'Benedict Powell'}, {'country': 'Russian Federation', 'number': '9', 'name': 'Duncan Ware'}, {'country': 'Peru', 'number': '7', 'name': 'Abra Lewis'}, {'country': 'China', 'number': '5', 'name': 'Callie Cole'}, {'country': 'United States', 'number': '0', 'name': 'Cedric Gates'}, {'country': 'Ukraine', 'number': '7', 'name': 'Malcolm Cox'}, {'country': 'Brazil', 'number': '6', 'name': 'Connor Potts'}, {'country': 'Sweden', 'number': '7', 'name': 'Lyle Nguyen'}, {'country': 'United States', 'number': '3', 'name': 'Rudyard Barrett'}, {'country': 'Costa Rica', 'number': '2', 'name': 'Judah Brock'}, {'country': 'South Korea', 'number': '2', 'name': 'Lucius Snider'}, {'country': 'China', 'number': '1', 'name': 'Cassady Mcdaniel'}, {'country': 'Singapore', 'number': '2', 'name': 'Allegra Baird'}, {'country': 'Philippines', 'number': '4', 'name': 'Omar Burgess'}, {'country': 'Turkey', 'number': '7', 'name': 'Kenyon Rosa'}, {'country': 'Poland', 'number': '6', 'name': 'Yen Sargent'}, {'country': 'China', 'number': '3', 'name': 'Rashad Grimes'}, {'country': 'Spain', 'number': '7', 'name': 'Tamekah Gutierrez'}, {'country': 'Ukraine', 'number': '3', 'name': 'Liberty Mathis'}, {'country': 'Mexico', 'number': '3', 'name': 'Rylee Sharpe'}, {'country': 'Mexico', 'number': '3', 'name': 'Brynn Hinton'}, {'country': 'Sweden', 'number': '2', 'name': 'Quinn Berg'}, {'country': 'Philippines', 'number': '9', 'name': 'Simone Tanner'}, {'country': 'Ireland', 'number': '2', 'name': 'Simon Giles'}, {'country': 'United Kingdom', 'number': '10', 'name': 'Zenia Coffey'}, {'country': 'Mexico', 'number': '2', 'name': 'Yael Glass'}, {'country': 'Colombia', 'number': '5', 'name': 'Inga Russell'}, {'country': 'United Kingdom', 'number': '1', 'name': 'Brendan Pearson'}, {'country': 'Austria', 'number': '3', 'name': 'Shafira Parks'}, {'country': 'India', 'number': '9', 'name': 'Dante Charles'}, {'country': 'Sweden', 'number': '8', 'name': 'Kylee Good'}, {'country': 'Canada', 'number': '1', 'name': 'September Bryan'}, {'country': 'Costa Rica', 'number': '5', 'name': 'Hakeem Flowers'}, {'country': 'Peru', 'number': '0', 'name': 'Ross Moss'}, {'country': 'Spain', 'number': '8', 'name': 'Bo Hardy'}, {'country': 'Austria', 'number': '2', 'name': 'Davis Cardenas'}, {'country': 'Ireland', 'number': '2', 'name': 'Lane Chandler'}, {'country': 'Ukraine', 'number': '3', 'name': 'Mohammad Holder'}, {'country': 'Vietnam', 'number': '8', 'name': 'Jonas Bryan'}, {'country': 'Costa Rica', 'number': '0', 'name': 'Eve Rivas'}, {'country': 'Australia', 'number': '4', 'name': 'Elton Collins'}, {'country': 'Norway', 'number': '8', 'name': 'Cain Fields'}, {'country': 'Vietnam', 'number': '0', 'name': 'Iliana Daniels'}, {'country': 'Mexico', 'number': '7', 'name': 'Rajah Robles'}, {'country': 'Australia', 'number': '3', 'name': 'Charity Conner'}, {'country': 'Chile', 'number': '5', 'name': 'Kay Parsons'}, {'country': 'Ireland', 'number': '4', 'name': 'Rachel Howell'}, {'country': 'Singapore', 'number': '3', 'name': 'Walter Forbes'}, {'country': 'Colombia', 'number': '1', 'name': 'Gray Hayden'}, {'country': 'Netherlands', 'number': '9', 'name': 'Ivana Compton'}, {'country': 'South Korea', 'number': '8', 'name': 'Jamal Kelly'}, {'country': 'Pakistan', 'number': '0', 'name': 'Robert Cunningham'}, {'country': 'Spain', 'number': '4', 'name': 'Ignatius Newman'}, {'country': 'Canada', 'number': '8', 'name': 'Gisela Glenn'}, {'country': 'Vietnam', 'number': '1', 'name': 'Eliana Nicholson'}, {'country': 'Ukraine', 'number': '4', 'name': 'Christen James'}, {'country': 'France', 'number': '4', 'name': 'Devin Spears'}, {'country': 'Costa Rica', 'number': '3', 'name': 'Phelan Hodges'}, {'country': 'Chile', 'number': '4', 'name': 'Stewart Coffey'}, {'country': 'Singapore', 'number': '6', 'name': 'Kasper Justice'}, {'country': 'Italy', 'number': '7', 'name': 'Xanthus Wilkerson'}, {'country': 'Italy', 'number': '6', 'name': 'Debra Melendez'}, {'country': 'Germany', 'number': '6', 'name': 'Galvin Morrison'}, {'country': 'Norway', 'number': '10', 'name': 'Britanney Daniels'}, {'country': 'Italy', 'number': '8', 'name': 'Steel Cantu'}, {'country': 'Mexico', 'number': '7', 'name': 'Graham Ewing'}, {'country': 'China', 'number': '3', 'name': 'Maia Dunn'}, {'country': 'Australia', 'number': '3', 'name': 'Violet Thornton'}, {'country': 'Canada', 'number': '5', 'name': 'Cleo Cardenas'}, {'country': 'United States', 'number': '8', 'name': 'Castor Bowen'}, {'country': 'Australia', 'number': '8', 'name': 'Wyatt Carey'}, {'country': 'Philippines', 'number': '5', 'name': 'Paul Padilla'}, {'country': 'Costa Rica', 'number': '8', 'name': 'Germane Welch'}, {'country': 'South Korea', 'number': '4', 'name': 'Zephr Deleon'}, {'country': 'Russian Federation', 'number': '9', 'name': 'Lionel Armstrong'}, {'country': 'Brazil', 'number': '6', 'name': 'Eleanor Solomon'}, {'country': 'Nigeria', 'number': '7', 'name': 'Rachel Woods'}, {'country': 'Indonesia', 'number': '9', 'name': 'Philip Taylor'}, {'country': 'Brazil', 'number': '7', 'name': 'Lilah Shelton'}, {'country': 'United Kingdom', 'number': '3', 'name': 'Gillian Harrington'}, {'country': 'Mexico', 'number': '3', 'name': 'Odessa Sutton'}]

In [9]:
data3 = filter(lambda x: x["name"][0]== a or b, data)

In [12]:
list_filtered2 =  list(map(lambda x: {'name': x['name'], 'country': x['country'], 'number': int(x['number']) * 2}, data))

In [13]:
list_filtered2

[{'name': 'Derek Bolton', 'country': 'Ukraine', 'number': 6},
 {'name': 'Britanney Durham', 'country': 'United States', 'number': 6},
 {'name': 'Rachel Dickson', 'country': 'China', 'number': 14},
 {'name': 'Oren Dominguez', 'country': 'India', 'number': 8},
 {'name': 'Keane Dean', 'country': 'Norway', 'number': 10},
 {'name': 'Tarik Coleman', 'country': 'New Zealand', 'number': 16},
 {'name': 'Uriel Greene', 'country': 'South Africa', 'number': 6},
 {'name': 'Minerva Shields', 'country': 'China', 'number': 12},
 {'name': 'Robin Butler', 'country': 'Norway', 'number': 14},
 {'name': 'Stacey Nixon', 'country': 'Germany', 'number': 14},
 {'name': 'Glenna Clark', 'country': 'South Africa', 'number': 8},
 {'name': 'Adena Smith', 'country': 'Australia', 'number': 14},
 {'name': 'Ronan Ellis', 'country': 'Italy', 'number': 4},
 {'name': 'Ignatius Guy', 'country': 'Chile', 'number': 2},
 {'name': 'Barclay Lindsey', 'country': 'Belgium', 'number': 16},
 {'name': 'Fuller Burris', 'country': 'Peru', 'number': 4},
 {'name': 'Kylan Witt', 'country': 'Ukraine', 'number': 4},
 {'name': 'Kitra Willis', 'country': 'United States', 'number': 2},
 {'name': 'Indigo Dillard', 'country': 'Austria', 'number': 12},
 {'name': 'Benedict Powell', 'country': 'Chile', 'number': 6},
 {'name': 'Duncan Ware', 'country': 'Russian Federation', 'number': 18},
 {'name': 'Abra Lewis', 'country': 'Peru', 'number': 14},
 {'name': 'Callie Cole', 'country': 'China', 'number': 10},
 {'name': 'Cedric Gates', 'country': 'United States', 'number': 0},
 {'name': 'Malcolm Cox', 'country': 'Ukraine', 'number': 14},
 {'name': 'Connor Potts', 'country': 'Brazil', 'number': 12},
 {'name': 'Lyle Nguyen', 'country': 'Sweden', 'number': 14},
 {'name': 'Rudyard Barrett', 'country': 'United States', 'number': 6},
 {'name': 'Judah Brock', 'country': 'Costa Rica', 'number': 4},
 {'name': 'Lucius Snider', 'country': 'South Korea', 'number': 4},
 {'name': 'Cassady Mcdaniel', 'country': 'China', 'number': 2},
 {'name': 'Allegra Baird', 'country': 'Singapore', 'number': 4},
 {'name': 'Omar Burgess', 'country': 'Philippines', 'number': 8},
 {'name': 'Kenyon Rosa', 'country': 'Turkey', 'number': 14},
 {'name': 'Yen Sargent', 'country': 'Poland', 'number': 12},
 {'name': 'Rashad Grimes', 'country': 'China', 'number': 6},
 {'name': 'Tamekah Gutierrez', 'country': 'Spain', 'number': 14},
 {'name': 'Liberty Mathis', 'country': 'Ukraine', 'number': 6},
 {'name': 'Rylee Sharpe', 'country': 'Mexico', 'number': 6},
 {'name': 'Brynn Hinton', 'country': 'Mexico', 'number': 6},
 {'name': 'Quinn Berg', 'country': 'Sweden', 'number': 4},
 {'name': 'Simone Tanner', 'country': 'Philippines', 'number': 18},
 {'name': 'Simon Giles', 'country': 'Ireland', 'number': 4},
 {'name': 'Zenia Coffey', 'country': 'United Kingdom', 'number': 20},
 {'name': 'Yael Glass', 'country': 'Mexico', 'number': 4},
 {'name': 'Inga Russell', 'country': 'Colombia', 'number': 10},
 {'name': 'Brendan Pearson', 'country': 'United Kingdom', 'number': 2},
 {'name': 'Shafira Parks', 'country': 'Austria', 'number': 6},
 {'name': 'Dante Charles', 'country': 'India', 'number': 18},
 {'name': 'Kylee Good', 'country': 'Sweden', 'number': 16},
 {'name': 'September Bryan', 'country': 'Canada', 'number': 2},
 {'name': 'Hakeem Flowers', 'country': 'Costa Rica', 'number': 10},
 {'name': 'Ross Moss', 'country': 'Peru', 'number': 0},
 {'name': 'Bo Hardy', 'country': 'Spain', 'number': 16},
 {'name': 'Davis Cardenas', 'country': 'Austria', 'number': 4},
 {'name': 'Lane Chandler', 'country': 'Ireland', 'number': 4},
 {'name': 'Mohammad Holder', 'country': 'Ukraine', 'number': 6},
 {'name': 'Jonas Bryan', 'country': 'Vietnam', 'number': 16},
 {'name': 'Eve Rivas', 'country': 'Costa Rica', 'number': 0},
 {'name': 'Elton Collins', 'country': 'Australia', 'number': 8},
 {'name': 'Cain Fields', 'country': 'Norway', 'number': 16},
 {'name': 'Iliana Daniels', 'country': 'Vietnam', 'number': 0},
 {'name': 'Rajah Robles', 'country': 'Mexico', 'number': 14},
 {'name': 'Charity Conner', 'country': 'Australia', 'number': 6},
 {'name': 'Kay Parsons', 'country': 'Chile', 'number': 10},
 {'name': 'Rachel Howell', 'country': 'Ireland', 'number': 8},
 {'name': 'Walter Forbes', 'country': 'Singapore', 'number': 6},
 {'name': 'Gray Hayden', 'country': 'Colombia', 'number': 2},
 {'name': 'Ivana Compton', 'country': 'Netherlands', 'number': 18},
 {'name': 'Jamal Kelly', 'country': 'South Korea', 'number': 16},
 {'name': 'Robert Cunningham', 'country': 'Pakistan', 'number': 0},
 {'name': 'Ignatius Newman', 'country': 'Spain', 'number': 8},
 {'name': 'Gisela Glenn', 'country': 'Canada', 'number': 16},
 {'name': 'Eliana Nicholson', 'country': 'Vietnam', 'number': 2},
 {'name': 'Christen James', 'country': 'Ukraine', 'number': 8},
 {'name': 'Devin Spears', 'country': 'France', 'number': 8},
 {'name': 'Phelan Hodges', 'country': 'Costa Rica', 'number': 6},
 {'name': 'Stewart Coffey', 'country': 'Chile', 'number': 8},
 {'name': 'Kasper Justice', 'country': 'Singapore', 'number': 12},
 {'name': 'Xanthus Wilkerson', 'country': 'Italy', 'number': 14},
 {'name': 'Debra Melendez', 'country': 'Italy', 'number': 12},
 {'name': 'Galvin Morrison', 'country': 'Germany', 'number': 12},
 {'name': 'Britanney Daniels', 'country': 'Norway', 'number': 20},
 {'name': 'Steel Cantu', 'country': 'Italy', 'number': 16},
 {'name': 'Graham Ewing', 'country': 'Mexico', 'number': 14},
 {'name': 'Maia Dunn', 'country': 'China', 'number': 6},
 {'name': 'Violet Thornton', 'country': 'Australia', 'number': 6},
 {'name': 'Cleo Cardenas', 'country': 'Canada', 'number': 10},
 {'name': 'Castor Bowen', 'country': 'United States', 'number': 16},
 {'name': 'Wyatt Carey', 'country': 'Australia', 'number': 16},
 {'name': 'Paul Padilla', 'country': 'Philippines', 'number': 10},
 {'name': 'Germane Welch', 'country': 'Costa Rica', 'number': 16},
 {'name': 'Zephr Deleon', 'country': 'South Korea', 'number': 8},
 {'name': 'Lionel Armstrong', 'country': 'Russian Federation', 'number': 18},
 {'name': 'Eleanor Solomon', 'country': 'Brazil', 'number': 12},
 {'name': 'Rachel Woods', 'country': 'Nigeria', 'number': 14},
 {'name': 'Philip Taylor', 'country': 'Indonesia', 'number': 18},
 {'name': 'Lilah Shelton', 'country': 'Brazil', 'number': 14},
 {'name': 'Gillian Harrington', 'country': 'United Kingdom', 'number': 6},
 {'name': 'Odessa Sutton', 'country': 'Mexico', 'number': 6}]

In [14]:
print(list_filtered2)

[{'name': 'Derek Bolton', 'country': 'Ukraine', 'number': 6}, {'name': 'Britanney Durham', 'country': 'United States', 'number': 6}, {'name': 'Rachel Dickson', 'country': 'China', 'number': 14}, {'name': 'Oren Dominguez', 'country': 'India', 'number': 8}, {'name': 'Keane Dean', 'country': 'Norway', 'number': 10}, {'name': 'Tarik Coleman', 'country': 'New Zealand', 'number': 16}, {'name': 'Uriel Greene', 'country': 'South Africa', 'number': 6}, {'name': 'Minerva Shields', 'country': 'China', 'number': 12}, {'name': 'Robin Butler', 'country': 'Norway', 'number': 14}, {'name': 'Stacey Nixon', 'country': 'Germany', 'number': 14}, {'name': 'Glenna Clark', 'country': 'South Africa', 'number': 8}, {'name': 'Adena Smith', 'country': 'Australia', 'number': 14}, {'name': 'Ronan Ellis', 'country': 'Italy', 'number': 4}, {'name': 'Ignatius Guy', 'country': 'Chile', 'number': 2}, {'name': 'Barclay Lindsey', 'country': 'Belgium', 'number': 16}, {'name': 'Fuller Burris', 'country': 'Peru', 'number': 4}, {'name': 'Kylan Witt', 'country': 'Ukraine', 'number': 4}, {'name': 'Kitra Willis', 'country': 'United States', 'number': 2}, {'name': 'Indigo Dillard', 'country': 'Austria', 'number': 12}, {'name': 'Benedict Powell', 'country': 'Chile', 'number': 6}, {'name': 'Duncan Ware', 'country': 'Russian Federation', 'number': 18}, {'name': 'Abra Lewis', 'country': 'Peru', 'number': 14}, {'name': 'Callie Cole', 'country': 'China', 'number': 10}, {'name': 'Cedric Gates', 'country': 'United States', 'number': 0}, {'name': 'Malcolm Cox', 'country': 'Ukraine', 'number': 14}, {'name': 'Connor Potts', 'country': 'Brazil', 'number': 12}, {'name': 'Lyle Nguyen', 'country': 'Sweden', 'number': 14}, {'name': 'Rudyard Barrett', 'country': 'United States', 'number': 6}, {'name': 'Judah Brock', 'country': 'Costa Rica', 'number': 4}, {'name': 'Lucius Snider', 'country': 'South Korea', 'number': 4}, {'name': 'Cassady Mcdaniel', 'country': 'China', 'number': 2}, {'name': 'Allegra Baird', 'country': 'Singapore', 'number': 4}, {'name': 'Omar Burgess', 'country': 'Philippines', 'number': 8}, {'name': 'Kenyon Rosa', 'country': 'Turkey', 'number': 14}, {'name': 'Yen Sargent', 'country': 'Poland', 'number': 12}, {'name': 'Rashad Grimes', 'country': 'China', 'number': 6}, {'name': 'Tamekah Gutierrez', 'country': 'Spain', 'number': 14}, {'name': 'Liberty Mathis', 'country': 'Ukraine', 'number': 6}, {'name': 'Rylee Sharpe', 'country': 'Mexico', 'number': 6}, {'name': 'Brynn Hinton', 'country': 'Mexico', 'number': 6}, {'name': 'Quinn Berg', 'country': 'Sweden', 'number': 4}, {'name': 'Simone Tanner', 'country': 'Philippines', 'number': 18}, {'name': 'Simon Giles', 'country': 'Ireland', 'number': 4}, {'name': 'Zenia Coffey', 'country': 'United Kingdom', 'number': 20}, {'name': 'Yael Glass', 'country': 'Mexico', 'number': 4}, {'name': 'Inga Russell', 'country': 'Colombia', 'number': 10}, {'name': 'Brendan Pearson', 'country': 'United Kingdom', 'number': 2}, {'name': 'Shafira Parks', 'country': 'Austria', 'number': 6}, {'name': 'Dante Charles', 'country': 'India', 'number': 18}, {'name': 'Kylee Good', 'country': 'Sweden', 'number': 16}, {'name': 'September Bryan', 'country': 'Canada', 'number': 2}, {'name': 'Hakeem Flowers', 'country': 'Costa Rica', 'number': 10}, {'name': 'Ross Moss', 'country': 'Peru', 'number': 0}, {'name': 'Bo Hardy', 'country': 'Spain', 'number': 16}, {'name': 'Davis Cardenas', 'country': 'Austria', 'number': 4}, {'name': 'Lane Chandler', 'country': 'Ireland', 'number': 4}, {'name': 'Mohammad Holder', 'country': 'Ukraine', 'number': 6}, {'name': 'Jonas Bryan', 'country': 'Vietnam', 'number': 16}, {'name': 'Eve Rivas', 'country': 'Costa Rica', 'number': 0}, {'name': 'Elton Collins', 'country': 'Australia', 'number': 8}, {'name': 'Cain Fields', 'country': 'Norway', 'number': 16}, {'name': 'Iliana Daniels', 'country': 'Vietnam', 'number': 0}, {'name': 'Rajah Robles', 'country': 'Mexico', 'number': 14}, {'name': 'Charity Conner', 'country': 'Australia', 'number': 6}, {'name': 'Kay Parsons', 'country': 'Chile', 'number': 10}, {'name': 'Rachel Howell', 'country': 'Ireland', 'number': 8}, {'name': 'Walter Forbes', 'country': 'Singapore', 'number': 6}, {'name': 'Gray Hayden', 'country': 'Colombia', 'number': 2}, {'name': 'Ivana Compton', 'country': 'Netherlands', 'number': 18}, {'name': 'Jamal Kelly', 'country': 'South Korea', 'number': 16}, {'name': 'Robert Cunningham', 'country': 'Pakistan', 'number': 0}, {'name': 'Ignatius Newman', 'country': 'Spain', 'number': 8}, {'name': 'Gisela Glenn', 'country': 'Canada', 'number': 16}, {'name': 'Eliana Nicholson', 'country': 'Vietnam', 'number': 2}, {'name': 'Christen James', 'country': 'Ukraine', 'number': 8}, {'name': 'Devin Spears', 'country': 'France', 'number': 8}, {'name': 'Phelan Hodges', 'country': 'Costa Rica', 'number': 6}, {'name': 'Stewart Coffey', 'country': 'Chile', 'number': 8}, {'name': 'Kasper Justice', 'country': 'Singapore', 'number': 12}, {'name': 'Xanthus Wilkerson', 'country': 'Italy', 'number': 14}, {'name': 'Debra Melendez', 'country': 'Italy', 'number': 12}, {'name': 'Galvin Morrison', 'country': 'Germany', 'number': 12}, {'name': 'Britanney Daniels', 'country': 'Norway', 'number': 20}, {'name': 'Steel Cantu', 'country': 'Italy', 'number': 16}, {'name': 'Graham Ewing', 'country': 'Mexico', 'number': 14}, {'name': 'Maia Dunn', 'country': 'China', 'number': 6}, {'name': 'Violet Thornton', 'country': 'Australia', 'number': 6}, {'name': 'Cleo Cardenas', 'country': 'Canada', 'number': 10}, {'name': 'Castor Bowen', 'country': 'United States', 'number': 16}, {'name': 'Wyatt Carey', 'country': 'Australia', 'number': 16}, {'name': 'Paul Padilla', 'country': 'Philippines', 'number': 10}, {'name': 'Germane Welch', 'country': 'Costa Rica', 'number': 16}, {'name': 'Zephr Deleon', 'country': 'South Korea', 'number': 8}, {'name': 'Lionel Armstrong', 'country': 'Russian Federation', 'number': 18}, {'name': 'Eleanor Solomon', 'country': 'Brazil', 'number': 12}, {'name': 'Rachel Woods', 'country': 'Nigeria', 'number': 14}, {'name': 'Philip Taylor', 'country': 'Indonesia', 'number': 18}, {'name': 'Lilah Shelton', 'country': 'Brazil', 'number': 14}, {'name': 'Gillian Harrington', 'country': 'United Kingdom', 'number': 6}, {'name': 'Odessa Sutton', 'country': 'Mexico', 'number': 6}]

In [ ]:
for i in data:
    for h in list_filtered2:
        i['number']=h

In [166]:
print(data)

[{'country': 'Ukraine', 'number': '33', 'name': 'Derek Bolton'},
 {'country': 'United States', 'number': '33', 'name': 'Britanney Durham'},
 {'country': 'China', 'number': '33', 'name': 'Rachel Dickson'},
 {'country': 'India', 'number': '33', 'name': 'Oren Dominguez'},
 {'country': 'Norway', 'number': '33', 'name': 'Keane Dean'},
 {'country': 'New Zealand', 'number': '33', 'name': 'Tarik Coleman'},
 {'country': 'South Africa', 'number': '33', 'name': 'Uriel Greene'},
 {'country': 'China', 'number': '33', 'name': 'Minerva Shields'},
 {'country': 'Norway', 'number': '33', 'name': 'Robin Butler'},
 {'country': 'Germany', 'number': '33', 'name': 'Stacey Nixon'},
 {'country': 'South Africa', 'number': '33', 'name': 'Glenna Clark'},
 {'country': 'Australia', 'number': '33', 'name': 'Adena Smith'},
 {'country': 'Italy', 'number': '33', 'name': 'Ronan Ellis'},
 {'country': 'Chile', 'number': '33', 'name': 'Ignatius Guy'},
 {'country': 'Belgium', 'number': '33', 'name': 'Barclay Lindsey'},
 {'country': 'Peru', 'number': '33', 'name': 'Fuller Burris'},
 {'country': 'Ukraine', 'number': '33', 'name': 'Kylan Witt'},
 {'country': 'United States', 'number': '33', 'name': 'Kitra Willis'},
 {'country': 'Austria', 'number': '33', 'name': 'Indigo Dillard'},
 {'country': 'Chile', 'number': '33', 'name': 'Benedict Powell'},
 {'country': 'Russian Federation', 'number': '33', 'name': 'Duncan Ware'},
 {'country': 'Peru', 'number': '33', 'name': 'Abra Lewis'},
 {'country': 'China', 'number': '33', 'name': 'Callie Cole'},
 {'country': 'United States', 'number': '33', 'name': 'Cedric Gates'},
 {'country': 'Ukraine', 'number': '33', 'name': 'Malcolm Cox'},
 {'country': 'Brazil', 'number': '33', 'name': 'Connor Potts'},
 {'country': 'Sweden', 'number': '33', 'name': 'Lyle Nguyen'},
 {'country': 'United States', 'number': '33', 'name': 'Rudyard Barrett'},
 {'country': 'Costa Rica', 'number': '33', 'name': 'Judah Brock'},
 {'country': 'South Korea', 'number': '33', 'name': 'Lucius Snider'},
 {'country': 'China', 'number': '33', 'name': 'Cassady Mcdaniel'},
 {'country': 'Singapore', 'number': '33', 'name': 'Allegra Baird'},
 {'country': 'Philippines', 'number': '33', 'name': 'Omar Burgess'},
 {'country': 'Turkey', 'number': '33', 'name': 'Kenyon Rosa'},
 {'country': 'Poland', 'number': '33', 'name': 'Yen Sargent'},
 {'country': 'China', 'number': '33', 'name': 'Rashad Grimes'},
 {'country': 'Spain', 'number': '33', 'name': 'Tamekah Gutierrez'},
 {'country': 'Ukraine', 'number': '33', 'name': 'Liberty Mathis'},
 {'country': 'Mexico', 'number': '33', 'name': 'Rylee Sharpe'},
 {'country': 'Mexico', 'number': '33', 'name': 'Brynn Hinton'},
 {'country': 'Sweden', 'number': '33', 'name': 'Quinn Berg'},
 {'country': 'Philippines', 'number': '33', 'name': 'Simone Tanner'},
 {'country': 'Ireland', 'number': '33', 'name': 'Simon Giles'},
 {'country': 'United Kingdom', 'number': '33', 'name': 'Zenia Coffey'},
 {'country': 'Mexico', 'number': '33', 'name': 'Yael Glass'},
 {'country': 'Colombia', 'number': '33', 'name': 'Inga Russell'},
 {'country': 'United Kingdom', 'number': '33', 'name': 'Brendan Pearson'},
 {'country': 'Austria', 'number': '33', 'name': 'Shafira Parks'},
 {'country': 'India', 'number': '33', 'name': 'Dante Charles'},
 {'country': 'Sweden', 'number': '33', 'name': 'Kylee Good'},
 {'country': 'Canada', 'number': '33', 'name': 'September Bryan'},
 {'country': 'Costa Rica', 'number': '33', 'name': 'Hakeem Flowers'},
 {'country': 'Peru', 'number': '33', 'name': 'Ross Moss'},
 {'country': 'Spain', 'number': '33', 'name': 'Bo Hardy'},
 {'country': 'Austria', 'number': '33', 'name': 'Davis Cardenas'},
 {'country': 'Ireland', 'number': '33', 'name': 'Lane Chandler'},
 {'country': 'Ukraine', 'number': '33', 'name': 'Mohammad Holder'},
 {'country': 'Vietnam', 'number': '33', 'name': 'Jonas Bryan'},
 {'country': 'Costa Rica', 'number': '33', 'name': 'Eve Rivas'},
 {'country': 'Australia', 'number': '33', 'name': 'Elton Collins'},
 {'country': 'Norway', 'number': '33', 'name': 'Cain Fields'},
 {'country': 'Vietnam', 'number': '33', 'name': 'Iliana Daniels'},
 {'country': 'Mexico', 'number': '33', 'name': 'Rajah Robles'},
 {'country': 'Australia', 'number': '33', 'name': 'Charity Conner'},
 {'country': 'Chile', 'number': '33', 'name': 'Kay Parsons'},
 {'country': 'Ireland', 'number': '33', 'name': 'Rachel Howell'},
 {'country': 'Singapore', 'number': '33', 'name': 'Walter Forbes'},
 {'country': 'Colombia', 'number': '33', 'name': 'Gray Hayden'},
 {'country': 'Netherlands', 'number': '33', 'name': 'Ivana Compton'},
 {'country': 'South Korea', 'number': '33', 'name': 'Jamal Kelly'},
 {'country': 'Pakistan', 'number': '33', 'name': 'Robert Cunningham'},
 {'country': 'Spain', 'number': '33', 'name': 'Ignatius Newman'},
 {'country': 'Canada', 'number': '33', 'name': 'Gisela Glenn'},
 {'country': 'Vietnam', 'number': '33', 'name': 'Eliana Nicholson'},
 {'country': 'Ukraine', 'number': '33', 'name': 'Christen James'},
 {'country': 'France', 'number': '33', 'name': 'Devin Spears'},
 {'country': 'Costa Rica', 'number': '33', 'name': 'Phelan Hodges'},
 {'country': 'Chile', 'number': '33', 'name': 'Stewart Coffey'},
 {'country': 'Singapore', 'number': '33', 'name': 'Kasper Justice'},
 {'country': 'Italy', 'number': '33', 'name': 'Xanthus Wilkerson'},
 {'country': 'Italy', 'number': '33', 'name': 'Debra Melendez'},
 {'country': 'Germany', 'number': '33', 'name': 'Galvin Morrison'},
 {'country': 'Norway', 'number': '33', 'name': 'Britanney Daniels'},
 {'country': 'Italy', 'number': '33', 'name': 'Steel Cantu'},
 {'country': 'Mexico', 'number': '33', 'name': 'Graham Ewing'},
 {'country': 'China', 'number': '33', 'name': 'Maia Dunn'},
 {'country': 'Australia', 'number': '33', 'name': 'Violet Thornton'},
 {'country': 'Canada', 'number': '33', 'name': 'Cleo Cardenas'},
 {'country': 'United States', 'number': '33', 'name': 'Castor Bowen'},
 {'country': 'Australia', 'number': '33', 'name': 'Wyatt Carey'},
 {'country': 'Philippines', 'number': '33', 'name': 'Paul Padilla'},
 {'country': 'Costa Rica', 'number': '33', 'name': 'Germane Welch'},
 {'country': 'South Korea', 'number': '33', 'name': 'Zephr Deleon'},
 {'country': 'Russian Federation', 'number': '33', 'name': 'Lionel Armstrong'},
 {'country': 'Brazil', 'number': '33', 'name': 'Eleanor Solomon'},
 {'country': 'Nigeria', 'number': '33', 'name': 'Rachel Woods'},
 {'country': 'Indonesia', 'number': '33', 'name': 'Philip Taylor'},
 {'country': 'Brazil', 'number': '33', 'name': 'Lilah Shelton'},
 {'country': 'United Kingdom', 'number': '33', 'name': 'Gillian Harrington'},
 {'country': 'Mexico', 'number': '33', 'name': 'Odessa Sutton'}]

# Recursive functions
### For any recursive function you write in this section, make clear (with comments) what your base cases and your recursive cases are.
Remember the example of the factorial function from the lecture. I will reproduce the Python code here:

In [ ]:
def factorial(x):
    if x == 0: # base case
        return 1
    else: # recursive case
        return (x * factorial(x-1))


num = 6
print("The factorial of", num, "is", factorial(num))

The other example in the lecture was concerned with Fibonacci numbers.
### Exercise 1
#### a
Implement this Fibonacci function **recursively** in Python:

In [3]:
def Fibonacci(x):
    if x  < 2: # base case
        return x
            
    else: # recursive case
        return Fibonacci(x - 1) + Fibonacci(x - 2)

In [4]:
Fibonacci(3)

2

#### b
Test your function on some higher numbers. What do you notice? What do you think is causing this?

### Exercise 2
Write a recursive function that takes a list of integers as input and returns the maximum integer stored in the list. Thinking recursively, the maximum is either the first value in the list or the maximum of the rest of the list, whichever is larger. If the list only has 1 integer, then its maximum is this single value, naturally.

In [28]:
def find_max_recursively(S,n):                                                
    """Find the maximum element in a sequence S, of n elements."""             
    if n == 1:  # reached the left most item                                   
        return S[n-1]                                                          
    else:                                                                      
        previous = find_max_recursively(S, n-1)                                
        current = S[n-1]                                                       
        if previous > current:                                                 
            return previous                                                    
        else:                                                                  
            return current

In [32]:
list1=[40,50,100,20,30]

In [33]:
find_max_recursively(list1,5)

100

### Exercise 3
Write a recursive function **letterCount** that takes a string and a character as input, and returns how many times the character occurs in the string. For example, it should have the following outputs:
* **letterCount**("Julian", 'i') = 1
* **letterCount**("Ceel", 'e') = 2
* **letterCount**("Joris", 'a') = 0

In [32]:
def lettercount(x,y):
    if len(x) == 0:
        return 0
    elif x[-1]==y:
        word = x[0:len(x)-1]
        return 1+ lettercount(word,y)
    else:
        word = x[0:len(x)-1]
        return lettercount(word,y)

In [35]:
lettercount("Joris","d")

0

print(m)

0

# Turing Machines
### The exercises for this section are made outside of this notebook. To hand in, either add a separate file with the code to your personal GitHub map, or copy-paste it into the box at the bottom of the notebook. Make sure to clearly label which code belongs to which exercise!
Go to turingmachine.io and open the 'binary increment' example at the top. Play around with it and try to understand what is happening.

### Exercise 1
Make the exercises for the binary increment that are printed below the code on the web page. I will reproduce them here for your convenience:

exercises

	# • Modify the machine to always halt on the leftmost digit
	#   (regardless of the number's length).
	#   Hint: add a state between carry and done.

	# • Make a machine that adds 2 instead of 1.
	#   Hint: 2 is '10' in binary, so the last digit is unaffected.
	#   Alternative hint: chain together two copies of the machine from
	#   the first exercise (renaming the states of the second copy).

	# • Make a machine to subtract 1.
	#   To simplify things, assume the input is always greater than 0.

### Exercise 2
Choose an example at the top (different from 'binary increment') that has complementery exercises and do those.

paste Turing Machine code here...